In [6]:
import pandas as pd
import matplotlib.pyplot as plt
import statsmodels.api as sm
import seaborn as sns
# working with dates
from datetime import datetime
# to evaluated performance using rmse
from sklearn.metrics import mean_squared_error
from math import sqrt 

# for tsa 
import statsmodels.api as sm

# holt's linear trend model. 
from statsmodels.tsa.api import Holt, ExponentialSmoothing


import preparer as pre
# plotting defaults
plt.rc('figure', figsize=(10, 4))
plt.style.use('seaborn-whitegrid')
plt.rc('font', size=16)

In [2]:
filename = 'saas.csv'
df = pd.read_csv(filename, index_col=0)

In [3]:
df.head()

                Customer_Id  Invoice_Id  Subscription_Type  Amount
Month_Invoiced
2014-01-31          1000000     5000000                0.0     0.0
2014-01-31          1000001     5000001                2.0    10.0
2014-01-31          1000002     5000002                0.0     0.0
2014-01-31          1000003     5000003                0.0     0.0
2014-01-31          1000004     5000004                1.0     5.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 790458 entries, 2014-01-31 to 2017-12-31
Data columns (total 4 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Customer_Id        790458 non-null  int64
 1   Invoice_Id         790458 non-null  int64
 2   Subscription_Type  790458 non-null  float64
 3   Amount             790458 non-null  float64
dtypes: float64(2), int64(2)
memory usage: 30.2+ MB

In [5]:
df.tail()

                Customer_Id  Invoice_Id  Subscription_Type  Amount
Month_Invoiced
2017-12-31          1029395     5790453                0.0     0.0
2017-12-31          1029396     5790454                0.0     0.0
2017-12-31          1029397     5790455                3.0    15.0
2017-12-31          1029398     5790456                0.0     0.0
2017-12-31          1029399     5790457                0.0     0.0

In [7]:
df.columns = df.columns.str.lower()

In [8]:
df.head()

                customer_id  invoice_id  subscription_type  amount
Month_Invoiced
2014-01-31          1000000     5000000                0.0     0.0
2014-01-31          1000001     5000001                2.0    10.0
2014-01-31          1000002     5000002                0.0     0.0
2014-01-31          1000003     5000003                0.0     0.0
2014-01-31          1000004     5000004                1.0     5.0

In [9]:
df['subscription_type'].unique()

array([0., 2., 1., 4., 3.])

In [10]:
bye_cols = ['customer_id','invoice_id','subscription_type']
df.drop(columns=bye_cols,inplace=True)

In [11]:
df.head()

                amount
Month_Invoiced
2014-01-31         0.0
2014-01-31        10.0
2014-01-31         0.0
2014-01-31         0.0
2014-01-31         5.0